<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/icon.ico" rel="shortcut icon" />
    <title>@ViewContext.TitleName() - Moto Sotry</title>
    @using MaxiJMobile.Models;
    @{
        /*版本判斷後，對Jquery不支援的瀏灠器轉到告示畫面*/
        var br = Request.Browser;
        if (br.Browser.ToUpper().Contains("IE") && br.MajorVersion < 9) { Response.Redirect("/WAY/NonSupport"); }
        /*載入動畫的執行時間(毫秒)*/
        ViewBag.preloader = (ViewContext.ControllerName().ToStringUpper() == "WAY" && ViewContext.ActionName().ToStringUpper() == "INDEX") ? 500 : 100;
    }
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" />    
    @RenderSection("style", required: false)
    @if (!csProp.isCurrentUser && ViewContext.ControllerName().ToStringUpper() != "OAUTH")
    { Response.Redirect("/OAuth/Index"); }
</head>
<body class="classic" data-spy="scroll">
    <div data-role="page">
        <div class="preloader">
            <img src="~/Content/images/preloader.gif" alt="Loading..." class="preloader__img">
        </div>
        <div class="welcome_classic" id="welcome">
            <section class="left-sidebar">
                <ul class="main-menu">
                    @using MaxiJMobile.Models
                    @{
                        var name = ViewContext.ControllerName().ToStringUpper();
                        var vname = ViewContext.ActionName().ToStringUpper();
                        if (!(name == "WAY" && vname == "INDEX"))
                        {
                            using (var db = new db850b60b99a9145fea7aea52f005a5589Entities())
                            {
                                if (name != "WAY")
                                {
                                    foreach (var i in db.tUrl.Where(s => s.cEnable && s.cId == "00000").OrderBy(s => s.cSort))
                                    {
                                        <li class='menu-item scroll'><a href='/@i.cFolder/@i.cPage'>@i.cName</a></li>
                                    }
                                }
                                foreach (var i in db.tUrl.Where(s => s.cEnable && (name == "WAY" ? s.cUpId == "00000" : (s.cFolder == name && s.cPage.ToUpper() != "INDEX"))).OrderBy(s => s.cSort))
                                {
                                    <li class='menu-item scroll'><a href='/@i.cFolder/@i.cPage'>@i.cName</a></li>
                                }
                            }
                        }
                    }
                </ul>
            </section>
            @RenderBody()
            <div id="dialog"></div>
            <div id="debug"></div>
        </div>
        <footer class="ui-footer-fixed">
            &copy; Copy Right 2015 @(2015 <= DateTime.Now.Year ? "" : (" - " + DateTime.Now.Year.ToString())) Maximus Chang <span style="font-size:2px;color:ButtonShadow">ver.2015111803</span>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
    <script>
        $(window).load(function () {
            $('.preloader__img').fadeOut(@ViewBag.preloader);
            setTimeout(function () { $('.preloader').addClass('active').delay(@(ViewBag.preloader*2)).fadeOut(@ViewBag.preloader); }, @(ViewBag.preloader*2));
            $.ajaxSetup({"error": function(d){$("#debug").text(d.responseText);}});
        });
    </script>    
</body>
</html>