<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Just Moto Story" />
    <link href="~/Content/icon.ico" rel="shortcut icon" />
    <title>@ViewContext.TitleName() - Moto Sotry</title>
    @using MaxiJMobile.Models;
    @{
        /*版本判斷後，對Jquery不支援的瀏灠器轉到告示畫面*/
        var br = Request.Browser;
        if (br.Browser.ToUpper().Contains("IE") && br.MajorVersion < 9) { Response.Redirect("/WAY/NonSupport"); }
        /*載入動畫的執行時間(毫秒)*/
        ViewBag.preloader = (ViewContext.ControllerName().ToStringUpper() == "WAY" && ViewContext.ActionName().ToStringUpper() == "INDEX") ? 500 : 100;
    }
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" />
    @RenderSection("style", required: false)
    @if (!csProp.isCurrentUser && ViewContext.ControllerName().ToStringUpper() != "OAUTH")
    { Response.Redirect("/OAuth/Index"); }
</head>
<body class="classic" data-spy="scroll">
    <div data-role="page">
        <div class="preloader">
            <img src="~/Content/images/preloader.gif" alt="Loading..." class="preloader__img">
        </div>
        <div class="welcome_classic" id="welcome">
            @*<section class="left-sidebar">
                    <ul class="main-menu">
                        @{
                            if (!(name == "WAY" && vname == "INDEX"))
                            {
                                using (var db = new db850b60b99a9145fea7aea52f005a5589Entities())
                                {
                                    foreach (var i in db.tUrl.Where(s => s.cEnable && s.cUpId == "00000").OrderBy(s => s.cSort))
                                    {
                                        <li class='menu-item scroll'><a href='/@i.cFolder/@i.cPage'>@i.cName</a></li>
                                    }
                                }
                            }
                        }
                    </ul>
                </section>*@
            <section class="main-sidebar">
                <ul class="main-menu">
                    @{
                        var name = ViewContext.ControllerName().ToStringUpper();
                        var vname = ViewContext.ActionName().ToStringUpper();
                        if (!(name == "WAY" && vname == "INDEX"))
                        {
                            using (var db = new db850b60b99a9145fea7aea52f005a5589Entities())
                            {
                                var tul = db.tUrl.FirstOrDefault(s => s.cFolder == name && s.cUpId == csProp.WayPageId);
                                if (tul != null)
                                {
                                    foreach (var i in db.tUrl.Where(s => s.cEnable && s.cUpId != csProp.WayPageId && s.cUpId == tul.cId).OrderBy(s => s.cSort))
                                    {
                                        <li class='menu-item scroll'><a href='/@i.cFolder/@i.cPage'>@i.cName</a></li>
                                    }
                                    <li class='menu-item scroll'><a href='#'></a></li>
                                    foreach (var i in db.tUrl.Where(s => s.cEnable && s.cUpId == csProp.WayPageId).OrderBy(s => s.cSort))
                                    {
                                        <li class='menu-item scroll'><a href='/@i.cFolder/@i.cPage'>@i.cName</a></li>
                                    }
                                }
                            }
                        }
                    }
                </ul>
            </section>
            @RenderBody()
            <div id="dialog"></div>
            <div id="debug"></div>
        </div>
        <footer class="ui-footer-fixed">
            &copy; Copy Right 2015 - @(DateTime.Now.Year) Maximus Chang <span style="font-size:2px;color:ButtonShadow">ver.2016011201</span>
        </footer>
    </div>
    <script>
        var preloadersec = @ViewBag.preloader;
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>