<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="classic" data-spy="scroll">
    <div data-role="page">
        <div class="preloader">
            <img src="~/Content/images/preloader.gif" alt="Loading..." class="preloader__img">
        </div>
        <div class="welcome_classic" id="welcome">
            @RenderBody()
        </div>
        <footer class="ui-footer-fixed">
            &copy; 2015 @(2015 <= DateTime.Now.Year ? "" : (" - " + DateTime.Now.Year.ToString())) Maximus Chang
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(window).load(function () {
            $('.preloader__img').fadeOut(500);
            setTimeout(function () { $('.preloader').addClass('active').delay(1000).fadeOut(500); }, 1000);
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
