<!DOCTYPE html>
<html>
<head>
    @using MaxiJMobile.Models;
    <meta charset="utf-8" />
    <link href="~/Content/icon.ico" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@( ViewContext.ActionName() + "(" + ViewContext.ControllerName() + ")") - Moto Sotry</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    @if (!csProp.isCurrentUser && ViewContext.ControllerName().ToStringUpper() != "OAUTH")
    { Response.Redirect("/OAuth/Index"); }
</head>
<body class="classic" data-spy="scroll">

    <div data-role="page">
        <div class="preloader">
            <img src="~/Content/images/preloader.gif" alt="Loading..." class="preloader__img">
        </div>
        <div class="welcome_classic" id="welcome">
            @Scripts.Render("~/bundles/jquery")
            @RenderBody()
        </div>
        <footer class="ui-footer-fixed">
            &copy; Copy Right 2015 @(2015 <= DateTime.Now.Year ? "" : (" - " + DateTime.Now.Year.ToString())) Maximus Chang
        </footer>
    </div>    
    <script>
        $(window).load(function () {
            $('.preloader__img').fadeOut(500);
            setTimeout(function () { $('.preloader').addClass('active').delay(1000).fadeOut(500); }, 1000);
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
