@using MaxiJMobile.Models;
<div class="searcher">
    <div>
        <a href="#" id="aup" class="hvr-bounce-to-bottom-selected">主項</a>
        <a href="#" id="asec">次項</a>
        <form id="frmup">
            <table id="tbup">
                <tr>
                    <th>主項目</th>
                    <td>
                        <select id="drupurl"></select>
                    </td>
                </tr>
            </table>
        </form>
        <form id="frmsec">
            <table id="tbsec" class="none">
                <tr>
                    <th>主項目</th>
                    <td>
                        <select id="drsel"></select>
                    </td>
                </tr>
            </table>
        </form>
        <div class="dvbtn">
            <button id="binsert" type="button">新增</button>
            <button id="bsubmit" type="button">確認</button>
            <button type="reset">取消</button>
        </div>
    </div>
</div>
<div id="dvupupd" class="upd" title="主項">
    <form id="frmupupd">
        <input type="hidden" name="cUpId" value="00000" />
        <input type="hidden" name="cSeq" />
        <table>
            <tr>
                <th>主索引鍵</th>
                <td><input name="cId" type="text" maxlength="5" size="6" placeholder="主索引鍵" /></td>
            </tr>
            <tr>
                <th>值</th>
                <td><input name="cKey" type="text" maxlength="50" size="12" placeholder="值" /></td>
            </tr>
            <tr>
                <th>描述</th>
                <td><input name="cDesc" type="text" maxlength="100" size="12" placeholder="描述" /></td>
            </tr>
            <tr>
                <th>排序</th>
                <td><input name="cSort" type="number" max="99" maxlength="2" size="3" style="width:40px" placeholder="排序" /></td>
            </tr>
            <tr>
                <th>啟用</th>
                <td>
                    <input type="radio" name="cEnable" id="cEnableY" checked="checked" value="true" />
                    <label for="cEnableY">是</label>
                    <input type="radio" name="cEnable" id="cEnableN" value="false" />
                    <label for="cEnableN">否</label>
                </td>
            </tr>
        </table>
    </form>
    <div class="dvupbtn">
        <button id="bupupd" type="button">確認</button>
    </div>
</div>
<div id="dvupd" class="upd" title="次項">
    <form id="frmupd">
        <input type="hidden" name="cSeq" />
        <table>
            <tr>
                <th>主索引鍵</th>
                <td><input name="cId" type="text" maxlength="5" size="6" placeholder="主索引鍵" /></td>
            </tr>
            <tr>
                <th>上層索引鍵</th>
                <td><select name="cUpId"></select></td>
            </tr>
            <tr>
                <th>值</th>
                <td><input name="cKey" type="text" maxlength="50" size="12" placeholder="值" /></td>
            </tr>
            <tr>
                <th>描述</th>
                <td><input name="cDesc" type="text" maxlength="100" size="12" placeholder="描述" /></td>
            </tr>
            <tr>
                <th>排序</th>
                <td><input name="cSort" type="number" max="99" maxlength="2" size="3" style="width:40px" placeholder="排序" /></td>
            </tr>
            <tr>
                <th>啟用</th>
                <td>
                    <input type="radio" name="cEnable" id="cEnableY" checked="checked" value="1" />
                    <label for="cEnableY">是</label>
                    <input type="radio" name="cEnable" id="cEnableN" value="0" />
                    <label for="cEnableN">否</label>
                </td>
            </tr>
        </table>
    </form>
    <div class="dvupbtn">
        <button id="bupd" type="button">確認</button>
    </div>
</div>
<div id="dvdata" class="data"></div>
@section scripts {
    <script>
        var upli = null, urli = null;
        /*取得主項目資料*/
        function getUp(selectval) {
            function innerGetUp(selectval, d) {
                $("#dvdata").tableData({
                    "title": "代碼主項目",
                    "th": [{ n: "主索引鍵", v: "cId" }, { n: "值", v: "cKey" }, { n: "描述", v: "cDesc" }, { n: "啟用", v: "cEnable", t: "bool" }, { n: "排序", v: "cSort", t: "num" },
                        {
                            n: "修改", t: "btn", f: function (e) {
                                var frm = $("#frmupupd");
                                for (var g in e) { frm.find("[name='" + g + "']").val(e[g]); }
                                $("#cEnableY").prop("checked", e.cEnable);
                                $("#cEnableN").prop("checked", !e.cEnable);
                                $("#dvupupd").dialog({ autoOpen: true, modal: true });
                            }
                        }],
                    "hidden": ["cSeq"],
                    "data": $.grep(d, function (a) { return selectval == "" ? true : (a.cId == selectval); })
                });
            }
            if (selectval == null || selectval == "") {
                $.post('@Url.Content("~/Select/getUpCodeAll")')
                    .done(function (d) {
                        if ($.isEmptyObject(d) && d.length <= 0) { $.alert("EX01：無主項目資料!!!"); }
                        /*查修主項目的select*/
                        var od = { "data": d, "value": "cId", "name": "cDesc" };
                        $("#drupurl").selecteAll(od);
                        $("#drsel").selecteAll(od);
                        /*查修主項目的select*/
                        $("select[name='cUpId']").selecteOpt(od);
                        upli = d;
                        innerGetUp($("#drupurl :selected").val(), d);
                    });
            } else { innerGetUp(selectval, upli); }
        }
        /*取得次項目資料*/
        function getDetail(selectval) {
            function innerGetUrl(selectval, d) {
                $("#dvdata").tableData({
                    "title": "代碼次項目",
                    "th": [{ n: "主索引鍵", v: "cId" }, { n: "值", v: "cKey" }, { n: "描述", v: "cDesc" }, { n: "啟用", v: "cEnable", t: "bool" }, { n: "排序", v: "cSort", t: "num" }, { n: "上層索引鍵", v: "cUpId" },
                        {
                            n: "修改", t: "btn", f: function (e) {
                                var frm = $("#frmupd");
                                for (var g in e) { frm.find("[name='" + g + "']").val(e[g]); }
                                $("#cEnableY").prop("checked", e.cEnable);
                                $("#cEnableN").prop("checked", !e.cEnable);
                                $("#dvupd").dialog({ autoOpen: true, modal: true });
                            }
                        }],
                    "ths": { "k": "cUpId", "v": "00000", pk: "cId", fk: "cUpId", th: [{ v: "cId" }, { v: "cKey" }, { v: "cDesc" }, { n: "啟用", v: "cEnable", t: "bool-lab" }] },
                    "hidden": ["cSeq"],
                    "data": $.grep(d, function (a) { return selectval == "" ? true : (a.cId == selectval || a.cUpId == selectval); })
                });
            }
            if (selectval == null || selectval == "") {
                $.post('@Url.Content("~/Select/getCodeAll")')
                    .done(function (d) {
                        if ($.isEmptyObject(d) && d.length <= 0) { $.alert("EX01：無主項目資料!!!"); }
                        urli = d;
                        innerGetUrl($("#drsel :selected").val(), d);
                    });
            } else { innerGetUrl(selectval, urli); }
        }
        /*檢核*/
        function ckhUp(obj) {
            if ($.isEmptyObject(obj)) { $.alert("X0：發生錯誤，請核查程式!!!"); return; }
            var ll = obj.frm.find("input:visible").totrim().css("background-color", "white");
            var lii = ll.filter(function (i) { return $(this).val() == ""; });
            if (lii.length) { lii.css("background-color", "yellow"); $.alert("X1：每個欄位皆為必填欄位!!!"); return; }
            if (!/[A-Z0-9]{5}/.test(obj.frm.find('input[name="cId"]').val())) { $.alert("X2：「主索引鍵」資料格式不正確!!!"); return; }
            if (/[^0-9]/.test(obj.frm.find('input[name="cSort"]').val())) { $.alert("X6：「排序」資料格式不正確!!!"); return; }
            $.post('@Url.Content("~/Select/getCodeSingle")', { "cid": obj.frm.find('input[name="cId"]').val(), "cupid": obj.frm.find('*[name="cUpId"]').val() })
                .done(function (d) {
                    function ok(isok) { if (isok) { obj.t ? getUp() : getDetail(); } }
                    if ($.isEmptyObject(d)) { $.alert("X4：查詢結果發生錯誤!!!"); return; }
                    var cSeq = obj.frm.find("input[name='cSeq']").val();
                    if (cSeq === "") {
                        if ("" != d.cId) { $.alert("X7：「主索引鍵」資料重複!!!"); return; }
                        $.post('@Url.Content("~/Insert/setCodeInsert")', obj.frm.serialize())
                            .done(function (q) {
                                ok(q.ok);
                                $.alert("Y1：新增" + (q.ok ? "成功" : "失敗") + "!!!");
                            });
                    } else {
                        if (cSeq != d.cSeq) { if (null != d.cUpId) { $.alert("X8：「主索引鍵」資料重複!!!"); return; } }
                        for (var g in d) {
                            var ho = obj.frm.find('[name="' + g + '"]');
                            if (ho.length) { d[g] = ho.val(); }
                        }
                        d.cEnable = obj.frm.find('#cEnableY').is(":checked");
                        $.post(obj.t ? '@Url.Content("~/Insert/setCodeUpUpdate")' : '@Url.Content("~/Insert/setCodeUpdate")', d)
                            .done(function (q) {
                                ok(q.ok);
                                $.alert("Y1：修改" + (q.ok ? "成功" : "失敗") + "!!!");
                            });
                    }
                    obj.dialog.dialog("close");
                });
        }
        $(window).load(function () {
            /*換tab處理*/
            $(".searcher a").click(function () {
                $(".searcher form table").hide();
                $("#dvdata").empty();
                var id = $(this).prop("id");
                switch (id) {
                    case "aup": getUp(); break;
                    case "asec": getDetail(); break;
                }
                $("#tb" + id.substring(1, id.length)).show();
            });
            $("#aup").click();
            /*主項目的輸入自動轉大寫*/
            $('input[name="cId"]').focusout(function () { $(this).totrimupper(); });
            /*新增*/
            $("#binsert").click(function () {
                var $li = $("#dvupd,#dvupupd");
                $li.find("input[name='cSeq'],input[type='text'],input[type='number']").val("");
                $li.find("select option:eq(0)").prop("selected", "selected");
                $li.find("input[name='cEnable']").prop("checked", false);
                $li.find("#cEnableY").prop("checked", true);
                switch ($.getTabId()) {
                    case "aup": $("#dvupupd").dialog({ autoOpen: true, modal: true }); break;
                    case "asec":
                        var sv = $("#drsel :selected").val();
                        if (sv != "") { $li.find("select[name='cUpId']").val(sv); }
                        $("#dvupd").dialog({ autoOpen: true, modal: true });
                        break;
                }
            });
            /*確認*/
            $("#bsubmit").click(function () {
                switch ($.getTabId()) {
                    case "aup": getUp($("#drupurl :selected").val()); break;
                    case "asec": getDetail($("#drsel :selected").val()); break;
                }
            });
            /*主項新增確認*/
            $("#bupupd").click(function () { ckhUp({ frm: $("#frmupupd"), t: true, dialog: $("#dvupupd") }); });
            /*次項新增確認*/
            $("#bupd").click(function () { ckhUp({ frm: $("#frmupd"), t: false, dialog: $("#dvupd") }); });
        });
    </script>
}
