
<div class="searcher">
    <div>
        <form id="frmup">
            <table id="tbup">
                <tr>
                    <th>年月</th>
                    <td>
                        <select name="y" id="y">
                            <option value="@(DateTime.Now.Year - 1)">@(DateTime.Now.Year - 1)年</option>
                            <option value="@(DateTime.Now.Year )" selected="selected">@(DateTime.Now.Year)年</option>
                            <option value="@(DateTime.Now.Year + 1)">@(DateTime.Now.Year + 1)年</option>
                        </select>
                    </td>
                    <td>
                        <select name="m" id="m">
                            @{
                                for (var i = 1; i <= 12; i++)
                                {
                                    <option value="@(i)" @{if (DateTime.Now.Month == i) { @("selected")           }}>@(i)月</option>
                                }
                            }
                        </select>

                    </td>
                </tr>
            </table>
        </form>
        <div class="dvbtn">
            <button id="bsubmit" type="button">查詢</button>
            <button id="breset" type="reset">重設</button>
        </div>
    </div>
</div>
<div class="data">
    <table>
        <tr>
            <td id="dvdata"></td>
            <td id="dvdatas"></td>
        </tr>
    </table>
</div>
@section scripts {
    <script>
        var obj = { "title": "哲休假表", "th": [{ n: "時間", v: "d" }, { n: "星期", v: "w", t: "txt-week" }, { n: "休", v: "i" }], "data": null };
        $(window).load(function () {
            $("#bsubmit").click(function () {
                $.post('@Url.Content("~/Way/WaizuResult")', $("#frmup").serialize()).done(function (q) {
                    obj.title = "哲休假表";
                    obj.data = q;
                    $("#dvdata").tableData(obj);
                });
                $.post('@Url.Content("~/Way/WaizuResult")', { y: $("#y :selected").val(), m: $("#m :selected").val(), x: 1 }).done(function (q) {
                    obj.title = ".";
                    obj.data = q;
                    $("#dvdatas").tableData(obj);
                });
            });
            $("#bsubmit").click();
        });
    </script>
}