@using MaxiJMobile.Models;
<div class="searcher">
    <div>
        <a href="#" id="aonline">即時</a>
        <form id="frmup">
            <table id="tbup">
                <tr>
                    <th>股票</th>
                    <td>
                        <input id="stock" type="text" maxlength="10" size="11" placeholder="股票名稱/代號" />
                    </td>
                </tr>
            </table>
        </form>
        <div class="dvbtn">
            <button id="bsubmit" type="button">查詢</button>
            <button id="breset" type="reset">重設</button>
        </div>
    </div>
</div>
<div class="data">
    <table>
        <tr>
            <td id="dvcou" colspan="2"></td>
        </tr>
        <tr>
            <td id="dvdata"></td>
            @*<td id="dvtran"></td>*@
        </tr>
    </table>
</div>
<div style="opacity:1" id="dvtran"></div>
@section scripts {
    <script>
        var chardata = null, dv = null;
        function getData(isg) {
            function ok(d) {
                $("#dvtran").empty();
                var st = $("#stock").totrimupper().val();
                if (isg && st != "") {
                    chardata = $.grep(d, function (a) { return a.cId.indexOf(st) >= 0 || a.cName.indexOf(st) >= 0; });
                }
                else { chardata = d; }
                $("#dvdata").tableData({
                    "title": "股票列表",
                    "msg": ["@csProp.csTip.Stock.Cost_Desc_001",
                        "@csProp.csTip.Stock.Cost_Desc_002",
                        "@csProp.csTip.Stock.Cost_Desc_003"],
                    "th": [{ n: "名稱", v: "cName" }, { n: "代號", v: "cId" }, { n: "庫存(張)", v: "cQty", t: "num" },
                        { n: "均價", v: "cAvgPrice", t: "num" }, { n: "收價", v: "cPrice", t: "num" },
                        { n: "損益", v: "cGet", t: "num-rg" }, { n: "累計息", v: "cIns", t: "num" }, { n: "計息日", v: "cInsDt" },
                        { n: "成本", v: "cCost", t: "num" }, { n: "現值", v: "cValue", t: "num" },
                        {
                            n: "查詢", t: "btn",
                            f: function (e, t) {
                                $.post('@Url.Content("~/Select/getStockTran")', { "id": e["cId"] })
                                    .done(function (x) {
                                        $("#dvtran").tableData({
                                            "title": e["cName"] + "-" + e["cId"],
                                            isnonebotton: true,
                                            "th": [{ n: "分類", v: "cActName" }, { n: "數量(股)", v: "cQty", t: "num" }, { n: "成交價", v: "cPrice", t: "num" },
                                                { n: "手續費", v: "cFee", t: "num" }, { n: "成交日", v: "cTranDt" }],
                                            "hidden": ["cSeq", "cId", "cAct"],
                                            "data": x
                                        }).dialogopen();
                                        //$("#dvtran").dialog({
                                        //    autoOpen: true, modal: true, width: "auto", open: function () {
                                        //        $(this).prop({ "class": "data", "style": "opacity:1" });
                                        //    }
                                        //});
                                    });
                            }
                        },
                        { n: "收價時間", v: "cPriceDt", t: "txt-most" }],
                    "hidden": ["cId", "cName"],
                    "data": chardata
                });
            }
            if (isg) { ok(dv); }
            else {
                $.when($.post('@Url.Content("~/Select/getStockHasTran")'), $.post('@Url.Content("~/Select/getStockLastYearIns")')).done(function (x, y) {
                    dv = x[0];
                    ok(x[0]);
                    var dxv = { tcost: 0, tval: 0, tins: 0, ttake: 0, lastins: y[0].Ins, lastper: "", titleper: "" };
                    for (var g in x) {
                        dxv.tcost = $.addition(dxv.tcost, x[0][g]["cCost"]);
                        dxv.tval = $.addition(dxv.tval, x[0][g]["cValue"]);
                        dxv.tins = $.addition(dxv.tins, x[0][g]["cIns"]);
                    }
                    dxv.ttake = $.addition($.addition(dxv.tval, dxv.tins), $.multiplication(dxv.tcost, "-1"));
                    dxv.lastper = $.percent(dxv.lastins, dxv.tcost);
                    dxv.titleper = $.percent(dxv.tins, dxv.tcost);
                    $("#dvcou").tableData({
                        isnonebotton: true,
                        "th": [{ n: "總成本", v: "tcost", t: "num" }, { n: "總現值", v: "tval", t: "num" }, { n: "總計息", v: "tins", t: "num" },
                            { n: "淨值", v: "ttake", t: "num-rg" }, { n: "去年總股息", v: "lastins", t: "num" }, { n: "去年股息年化報酬", v: "lastper", t: "num" },
                            { n: "總報酬", v: "titleper", t: "num" }],
                        "data": dxv
                    });
                });
            }
        }

        $(window).load(function () {
            getData();
            /*查詢*/
            $("#bsubmit").click(function () { getData(true); });
            /*重設*/
            $("#breset").click(function () { $("#stock").val(""); });
            /*取得即時資料*/
            $("#aonline").click(function () { $.post('@Url.Content("~/Select/StockOnlin")').done(function (x) { getData(); }); });
        });
    </script>
}
