@using MaxiJMobile.Models;
<div class="searcher">
    <div>
        <form id="frmup">
            <table id="tbup">
                <tr>
                    <th>股票</th>
                    <td>
                        <input id="stock" type="text" maxlength="10" size="11" placeholder="股票名稱/代號" />
                    </td>
                </tr>
            </table>
        </form>
        <div class="dvbtn">
            <button id="bsubmit" type="button">查詢</button>
            <button id="breset" type="reset">重設</button>
        </div>
    </div>
</div>
<div id="dvupupd" class="upd" title="增修">
    <input type="hidden" id="minfee" />
    <input type="hidden" id="discount" />
    <input type="hidden" id="fee" />
    <input type="hidden" id="tranfee" />
    <input type="hidden" id="qty" />
    <form id="frmupupd">
        <input type="hidden" name="cSeq" id="cSeq" />
        <table>
            <tr>
                <th>代號</th>
                <td><input id="cId" name="cId" type="text" maxlength="10" size="11" readonly="readonly" /></td>
            </tr>
            <tr>
                <th>名稱</th>
                <td name="cName"></td>
            </tr>
            <tr>
                <th>分類</th>
                <td><select id="cAct" name="cAct"></select></td>
            </tr>
            <tr>
                <th>數量(股)</th>
                <td><input id="cQty" name="cQty" type="number" maxlength="10" size="11" placeholder="數量(股)" /></td>
            </tr>
            <tr>
                <th>成交價</th>
                <td><input id="cPrice" name="cPrice" type="number" step="0.0001" maxlength="8" size="9" placeholder="成交價" /></td>
            </tr>
            <tr>
                <th>手續費</th>
                <td><input id="cFee" name="cFee" type="number" maxlength="8" size="9" placeholder="手續費" value="0" /></td>
            </tr>
            <tr>
                <th>成交日</th>
                <td><input id="cTranDt" name="cTranDt" type="date" maxlength="10" size="12" placeholder="成交日" /></td>
            </tr>
        </table>
        <div class="dvupbtn">
            <button id="bupd" type="button">確認</button>
            <button id="reset" type="reset">重設</button>
        </div>
    </form>
</div>
<div class="data">
    <table>
        <tr>
            <td id="dvdata"></td>
            <td id="dvtran"></td>
        </tr>
    </table>
    ◆ 經查詢，取得股票資料後，方可新增交易資料。
    <br />
    ◆ 若查詢無股票時，需先新增股票。
    <br />
    ◆ 配息權時，直接輸入取得的「總量」，或「總額」。
</div>
@section scripts {
    <script>
        var bs = null, ins = null;
        function checkQty(o) {
            var str = $("#cAct :selected").val();
            if (o && "1" != str && parseInt($("#cQty").val()) <= 0) { $.alert("X1：數量必需大於零!!!"); return; }
            if (o && "2" != str && parseInt($("#cPrice").val()) <= 0) { $.alert("X2：成交價必需大於零!!!"); return; }
            switch (str) {
                case "1": $("#cQty").val(0); return false; break;
                case "2": $("#cPrice").val(0); return false; break;
                case "S":
                    var b = parseInt($("#cQty").totrim().val()) > parseInt($("#qty").val());
                    if (b) { $.alert("X2：賣出量不可大於庫存量!!!"); }
                    return b;
                    break;
            }
        }

        function setTranType(o, e) {
            var $t = $("#cAct"), isb = $.isNumeric(o);
            $t.getCodeOpt({ "cupid": isb ? "03001" : "01001", "done": function () { $t.val(o); $("#cAct").change(); } });
            $.post('@Url.Content("~/Select/getStockQty")', { "id": e["cId"] }).done(function (x) { $("#qty").val(x.qty); });
            $("#cFee").prop("readonly", isb);
            $("#cQty,#cPrice,#cAct").unbind("change").change(function () {
                if (checkQty(false)) { return; }
                if ($.isTextEmpty($("#cQty,#cPrice"))) { $("#cFee").val(0); return; }
                $("#cQty,#cPrice,#cAct").totrim();
                var fee = 0, cost = $.multiplication($("#cPrice").val(), $("#cQty").val());
                if (!isb) {
                    fee = Math.ceil($.multiplication($.multiplication(cost, $("#fee").val()), $("#discount").val())),
                    mife = parseInt($("#minfee").val());
                    fee = (fee >= mife ? fee : mife);
                    if ($("#cAct :selected").val() == "S") { fee += Math.ceil($.multiplication(cost, $("#tranfee").val())); }
                }
                $("#cFee").val(fee);
            });
        }

        function getTran(o, n) {
            $.post('@Url.Content("~/Select/getStockTran")', { "id": o })
                .done(function (x) {
                    $("#dvtran").tableData({
                        "title": n + "-" + o,
                        "th": [{ n: "分類", v: "cActName" }, { n: "數量(股)", v: "cQty", t: "num" }, { n: "成交價", v: "cPrice", t: "num" },
                            { n: "手續費", v: "cFee", t: "num" }, { n: "成交日", v: "cTranDt" },
                            {
                                n: "刪除", t: "btn", f: function (e, t) {
                                    var tr = $(t).parents("tr:first");
                                    if (tr.find(":checkbox[name='isselect']").prop("checked")) {
                                        $.post('@Url.Content("~/Insert/setStockTranDelete")', { o: parseInt(tr.find("[name='cSeq']").val()) })
                                            .done(function (q) {
                                                $("#stock").totrimupper().val() == "" ? getTarget() : $("#bsubmit").click();
                                                getTran(o, n);
                                                $.alert(q.msg);
                                            });
                                    } else { $.alert("X1：「選」未勾選，該項無法刪除!!!"); return; }
                                }
                            }, { n: "選", t: "bool-select" }],
                        "hidden": ["cSeq", "cId", "cAct"],
                        "data": x
                    });
                });
        }

        function getData(x, ys) {
            if (x.isok) {
                function btn(e) {
                    $("#reset").click();
                    $("#frmupupd input[name='cId']").val(e["cId"]);
                    $("#frmupupd td[name='cName']").text(e["cName"]);
                    $("#dvupupd").dialogopen();
                }
                $("#dvdata").tableData({
                    "title": "股票列表",
                    "th": [{ n: "名稱", v: "cName" }, { n: "代號", v: "cId" }, { n: "庫存", v: "cQty", t: "num" }, { n: "目標(張)", v: "cTargetQty", t: "num" },
                        { n: "交易", t: "btn", f: function (e) { setTranType("B", e); btn(e); } },
                        { n: "股息", t: "btn", f: function (e) { setTranType(1, e); btn(e); } },
                        {
                            n: "查詢", t: "btn",
                            f: function (e, t) {
                                var g = $(t).parents("tr:first");
                                getTran(g.find("input[name='cId']").totrimupper().val(), g.find("input[name='cName']").totrimupper().val());
                            }
                        }],
                    "hidden": ["cId", "cName"],
                    "data": x.data
                });
            }
            else { if (!ys) { $.alert(x.msg); } }
        }

        function getTarget() { $.post('@Url.Content("~/Select/getStockTarget")').done(function (x) { getData(x, true); }); }

        $(window).load(function () {
            /*取得買賣設定*/
            $.getCode({
                "cupid": "03003",
                done: function (x) {
                    for (var i in x) {
                        switch (x[i]["cId"]) {
                            case "03013":/*每筆最低手續費*/ $("#minfee").val(x[i]["cKey"]); break;
                            case "03023":/*每筆折扣*/ $("#discount").val(x[i]["cKey"]); break;
                            case "03033":/*股票交割手續費計算*/ $("#fee").val(x[i]["cKey"]); break;
                            case "03043":/*證卷交易稅*/ $("#tranfee").val(x[i]["cKey"]); break;
                        }
                    }
                }
            });
            /*取得有設定目標量但未達標的股票資料*/
            getTarget();
            /*合約/到期日*/
            $("#cTranDt").datepickeropen();
            /*增修重設*/
            $("#reset").click(function () { $("#cSeq").val(""); });
            /*重設*/
            $("#breset").click(function () { $("#stock").val(""); });
            /*查詢*/
            $("#bsubmit").click(function () { $("#dvtran").empty(); $.post('@Url.Content("~/Select/getStockMultiId")', { "str": $("#stock").totrimupper().val() }).done(function (x) { getData(x, false); }); });
            /*新增確認*/
            $("#bupd").click(function () {
                if ($.isNoneEmpty($("#frmupupd input:visible"))) { return; }
                if (checkQty(true)) { return; }
                $.post('@Url.Content("~/Insert/setStockTranInsert")', $("#frmupupd").serialize())
                    .done(function (q) {
                        $("#stock").totrimupper().val() == "" ? getTarget() : $("#bsubmit").click();
                        getTran($("#frmupupd input[name='cId']").val(), "");
                        $.alert(q.msg);
                    });
                $("#dvupupd").dialog("close");
            });
        });
    </script>
}
