@using MaxiJMobile.Models;
<div class="searcher">
    <div>
        <a href="#" id="aup">新增</a>
    </div>
</div>
<div id="dvupupd" class="upd" title="增修">
    <form id="frmupupd">
        <input type="hidden" name="cSeq" id="cSeq" />
        <table>
            <tr>
                <th>名稱</th>
                <td><input id="cName" name="cName" type="text" maxlength="20" size="12" placeholder="名稱" /></td>
            </tr>
            <tr>
                <th>收支</th>
                <td><select id="cType" name="cType"></select></td>
            </tr>
            <tr>
                <th>分類</th>
                <td><select id="cTypeDesc" name="cTypeDesc"></select></td>
            </tr>
            <tr>
                <th>金額</th>
                <td><input id="cAmount" name="cAmount" type="number" maxlength="18" size="12" placeholder="金額" /></td>
            </tr>
            <tr>
                <th>基期</th>
                <td><select id="cBaseDtType" name="cBaseDtType"></select></td>
            </tr>
            <tr>
                <th>描述</th>
                <td><input name="cDesc" type="text" maxlength="50" size="12" placeholder="描述" /></td>
            </tr>
            <tr>
                <th>期數</th>
                <td>
                    <input id="cPeriod" name="cPeriod" type="number" maxlength="99" placeholder="期數" />/
                    <input id="cTotalPeriod" name="cTotalPeriod" type="number" maxlength="99" placeholder="總期數" value="0" />
                </td>
            </tr>
            <tr>
                <th>合約/到期日</th>
                <td><input id="cDaylineDt" name="cDaylineDt" type="date" maxlength="10" size="12" placeholder="合約/到期日" /></td>
            </tr>
            <tr>
                <th>啟用</th>
                <td>
                    <input type="radio" name="cEnable" id="cEnableY" checked="checked" value="true" />
                    <label for="cEnableY">是</label>
                    <input type="radio" name="cEnable" id="cEnableN" value="false" />
                    <label for="cEnableN">否</label>
                </td>
            </tr>
        </table>
        <div class="dvupbtn">
            <button id="bupd" type="button">確認</button>
            <button id="reset" type="reset">重設</button>
        </div>
    </form>
</div>
<div class="data">
    <table>
        <tr>
            <td>
                <input type="radio" id="chkin" name="chkchart" value="1" />
                <label for="chkin">收入</label>
                <input type="radio" id="chkout" name="chkchart" value="0" checked="checked" />
                <label for="chkout">支出</label>
                <div id="pie" style="opacity :0.8;"></div>
            </td>
            <td style="vertical-align:top;text-align:left;">
                <table class="main" id="calculate" style="margin:0;">
                    <tr>
                        <th>年收入</th>
                        <td class="r" name="yin">-</td>
                        <th>年支出</th>
                        <td class="r" name="yout">-</td>
                        <th>年淨收入</th>
                        <td class="r" name="yl">-</td>
                    </tr>
                    <tr>
                        <th>月收入</th>
                        <td class="r" name="min">-</td>
                        <th>月支出</th>
                        <td class="r" name="mout">-</td>
                        <th>月淨收入</th>
                        <td class="r" name="ml">-</td>
                    </tr>
                    <tr>
                        <th colspan="6">三個月生活預備金</th>
                    </tr>
                    <tr>
                        <td colspan="6" class="r" name="sm">-</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" id="tddata"></td>
        </tr>
    </table>
</div>
@section scripts {
    <script>
        var pay = null, income = null, chardata = null, updateitem = null;
        function setChart() {
            if ($.isEmptyObject(chardata)) { return; }
            /*pies chart*/
            $('#pie').charts({
                "title": '生活費分配表',
                data: $.grep(chardata, function (a) { return a.cType == $("input[name='chkchart']:checked").val(); })
            });
        }

        function getData() {
            $.post('@Url.Content("~/Select/getAlimonyCalculate")').done(function (d) {
                var oj = $("#calculate");
                for (var i in d) { oj.find("td[name='" + i + "']").text(d[i]) }
            });
            $.post('@Url.Content("~/Select/getAlimonyChart")').done(function (d) {
                chardata = d;
                setChart();
            });
            $.post('@Url.Content("~/Select/getAlimonyAll")').done(function (d) {
                updateitem = d[0];
                $("#tddata").tableData({
                    "title": "生活費分配表",
                    "th": [{ n: "名稱", v: "cName" }, { n: "分類", v: "cTypeDescName" }, { n: "基期", v: "cBaseDtTypeName", t: "txt-c" }, { n: "金額", v: "cAmount", t: "num" },
                        { n: "描述", v: "cDesc", t: "txt-most" }, { n: "期數", v: "cPeriod", t: "num" }, { n: "總期數", v: "cTotalPeriod", t: "num" }, { n: "合約/到期日", v: "cDaylineDt" }, { n: "啟用", v: "cEnable", t: "bool" },
                        {
                            n: "修改", t: "btn", f: function (e) {
                                var frm = $("#frmupupd");
                                for (var g in e) { frm.find("[name='" + g + "']").val(e[g]); }
                                $("#cEnableY").prop("checked", e.cEnable);
                                $("#cEnableN").prop("checked", !e.cEnable);
                                $("#dvupupd").dialogopen();
                            }
                        },
                        {
                            n: "刪除", t: "btn", f: function (e, t) {
                                var tr = $(t).parents("tr:first");
                                if (tr.find(":checkbox[name='isselect']").prop("checked")) {
                                    $.post('@Url.Content("~/Insert/setAlimonyDelete")', { o: parseInt(tr.find("[name='cSeq']").val()) })
                                        .done(function (q) {
                                            getData();
                                            $.alert("Y1：刪除" + (q.ok ? "成功" : "失敗") + "!!!");
                                        });
                                } else { $.alert("X1：「選」未勾選，該項無法刪除!!!"); return; }
                            }
                        },
                        { n: "選", t: "bool-select" }],
                    "ths": { "k": "cType", th: [{ v: "cTypeName" }] },
                    "hidden": ["cSeq", "cType", "cTypeDesc", "cBaseDtType"],
                    "data": d
                });
            });
        }
        $(window).load(function () {
            getData();
            $("#chkin,#chkout").click(function () { setChart(); });
            /*新增確認*/
            $("#bupd").click(function () {
                if ($.isNoneEmpty($("#cName,#cAmount,#cTotalPeriod"))) { return; }
                var cp = $("#cPeriod").totrim().val(), ctp = $("#cTotalPeriod").totrim().val();
                if (cp != "") { if (parseInt(cp) > parseInt(ctp)) { $.alert("X1：「期數」不可以大於「總期數」!!!"); return; } }
                if ($("#cSeq").val() == "") {
                    $.post('@Url.Content("~/Insert/setAlimonyInsert")', $("#frmupupd").serialize())
                        .done(function (q) {
                            getData();
                            $.alert(q.msg);
                        });
                } else {
                    var dv = $("#dvupupd");
                    for (var g in updateitem) { updateitem[g] = dv.find('[name="' + g + '"]').val(); }
                    updateitem.cEnable = dv.find('#cEnableY').is(":checked");
                    $.post('@Url.Content("~/Insert/setAlimonyUpdate")', updateitem)
                        .done(function (q) {
                            getData();
                            $.alert(q.msg);
                        });
                }
                $("#dvupupd").dialog("close");
            });
            /*合約/到期日*/
            $("#cDaylineDt").datepickeropen();
            /*新增*/
            $("#aup").click(function () {
                var $li = $("#dvupupd");
                $("#cSeq").val("");
                $("#cType").change();
                $("#reset").click();
                $li.dialogopen();
            });
            /*收支*/
            $("#cType").getCodeOpt({ "cupid": "02004" })
                .change(function () { $("#cTypeDesc").selecteCode(($(this).find(":selected").val() == "0") ? pay : income); });
            /*分類*/
            $("#cTypeDesc").getCodeOpt({ "cupid": "02002", "done": function (dx) { income = dx; } });
            $.getCode({ "cupid": "02001", "done": function (dx) { pay = dx; } });
            /*基期*/
            $("#cBaseDtType").getCodeOpt({ "cupid": "02003" });
            /*重設*/
            $("#reset").click(function () { $("#cTypeDesc").selecteCode(income); });
        });
    </script>
}